<div class="about" id="about">
  <div class="decoration"></div>
  <div class="about-container container flex">
    <div class="about-descr" data-aos="fade-up-right">
      <h2 class="about-descr__title title">О компании</h2>
      <p class="about-descr__text text">
        Мы опытная команда, для которой трейдинг – профессия. TradeBlade
        является авторизованным официальным брокером биржи Binance.
        <br />
        <br />
        Он представляет пользователям множество преимуществ, таких как более
        високая скорость синхронизации API и возможность создать учетную запись
        Binance через платформу TradeBlade всего в 1 клик.
      </p>
    </div>
    <form class="about-form">
      <p class="about-form__title">
        Попробуйте сейчас и получите <br />5 дней бесплатного пользования
      </p>
      <div class="about-form__wrapper flex">
        <input
          class="about-form__input input-reset"
          type="email"
          placeholder="Ваш e–mail"
        />
        <button class="about-form__btn btn-reset">попробовать</button>
      </div>
    </form>
  </div>
</div>
