<div class="begin" id="begin">
  <div class="begin-decoration decoration"></div>
  <div class="begin-container container">
    <h2 class="begin-title title">Как начать пользоваться сервисом</h2>

    <ul class="begin-list list-reset">
      <li
        class="begin-list__item"
        data-aos="fade-up"
        data-aos-duration="800"
        data-aos-anchor-placement="top-bottom"
      >
        <h3 class="begin-list__item-title title">Создайте аккаунт</h3>
        <p class="begin-list__item-text text">
          Начните бесплатную 3-дневную пробную версию. Кредитная карта не
          требуется.
        </p>
      </li>
      <li
        class="begin-list__item"
        data-aos="fade-up"
        data-aos-duration="600"
        data-aos-anchor-placement="top-bottom"
      >
        <h3 class="begin-list__item-title title">
          Подключить обмен API ключами
        </h3>
        <p class="begin-list__item-text text">
          Просто вставьте свои ключи API из личного кабинета.
        </p>
      </li>
      <li
        class="begin-list__item"
        data-aos="fade-up"
        data-aos-duration="400"
        data-aos-anchor-placement="top-bottom"
      >
        <h3 class="begin-list__item-title title">Настройте аккаунт</h3>
        <p class="begin-list__item-text text">
          Поставьте нужные настройки депозита на каждый сигнал и нажмите
          сохранить.
        </p>
      </li>
      <li
        class="begin-list__item"
        data-aos="fade-up"
        data-aos-duration="200"
        data-aos-anchor-placement="top-bottom"
      >
        <h3 class="begin-list__item-title title">Ваш копитрейдер запущен</h3>
        <p class="begin-list__item-text text">
          Просто расслабьтесь и начните получать пассивный доход от криптовалюты
          с помощью TradeBlade
        </p>
      </li>
    </ul>
    <button class="begin-btn btn-reset" data-aos="zoom-in">
      Попробовать бесплатно
    </button>
  </div>
</div>
