<div class="deals" id="deals">
  <div class="deals-container">
    <h2 class="deals-title title">Прошедшие сделки</h2>
    <span class="deals-online flex"> Онлайн </span>
    <div class="deals-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="deals-slider-item">
            <div class="deals-slider-item__currency">
              <h3>NEAR/USDT</h3>
              <span class="deals-slider-item__currency-spot"
                >SPOT ·
                <span class="deals-slider-item__currency-time"
                  >1 мин. назад</span
                ></span
              >
            </div>
            <div class="deals-slider-item__box">
              <p>Прибыль</p>
              <span class="deals-slider-item__index">58.6206%</span>
              <div class="deals-slider-item__target flex">
                <span class="deals-slider-item__target-title">Цель 4</span>
                <span class="deals-slider-item__target-date"
                  >Дата входа 06.10.2022</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="deals-slider-item">
            <div class="deals-slider-item__currency">
              <h3>BTC/USDT</h3>
              <span
                >SPOT ·
                <span class="deals-slider-item__time">1 мин. назад</span></span
              >
            </div>
            <div class="deals-slider-item__box">
              <p>Прибыль</p>
              <span class="deals-slider-item__index">6.02%</span>
              <div class="deals-slider-item__target flex">
                <span class="deals-slider-item__target-title">Цель 3</span>
                <span class="deals-slider-item__target-date"
                  >Дата входа 06.10.2022</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="deals-slider-item">
            <div class="deals-slider-item__currency">
              <h3>ETH/USDT</h3>
              <span
                >SPOT ·
                <span class="deals-slider-item__time">1 мин. назад</span></span
              >
            </div>
            <div class="deals-slider-item__box">
              <p>Прибыль</p>
              <span class="deals-slider-item__index">16.3%</span>
              <div class="deals-slider-item__target flex">
                <span class="deals-slider-item__target-title">Цель 4</span>
                <span class="deals-slider-item__target-date"
                  >Дата входа 06.10.2022</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="deals-slider-item">
            <div class="deals-slider-item__currency">
              <h3>NEAR/USDT</h3>
              <span
                >SPOT ·
                <span class="deals-slider-item__time">1 мин. назад</span></span
              >
            </div>
            <div class="deals-slider-item__box">
              <p>Прибыль</p>
              <span class="deals-slider-item__index">0.963%</span>
              <div class="deals-slider-item__target flex">
                <span class="deals-slider-item__target-title">Цель 4</span>
                <span class="deals-slider-item__target-date"
                  >Дата входа 06.10.2022</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="deals-slider-item">
            <div class="deals-slider-item__currency">
              <h3>NEAR/USDT</h3>
              <span
                >SPOT ·
                <span class="deals-slider-item__time">1 мин. назад</span></span
              >
            </div>
            <div class="deals-slider-item__box">
              <p>Прибыль</p>
              <span class="deals-slider-item__index">58.6206%</span>
              <div class="deals-slider-item__target flex">
                <span class="deals-slider-item__target-title">Цель 4</span>
                <span class="deals-slider-item__target-date"
                  >Дата входа 06.10.2022</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="deals-slider-item">
            <div class="deals-slider-item__currency">
              <h3>NEAR/USDT</h3>
              <span
                >SPOT ·
                <span class="deals-slider-item__time">1 мин. назад</span></span
              >
            </div>
            <div class="deals-slider-item__box">
              <p>Прибыль</p>
              <span class="deals-slider-item__index">58.6206%</span>
              <div class="deals-slider-item__target flex">
                <span class="deals-slider-item__target-title">Цель 4</span>
                <span class="deals-slider-item__target-date"
                  >Дата входа 06.10.2022</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="deals-slider-item">
            <div class="deals-slider-item__currency">
              <h3>NEAR/USDT</h3>
              <span
                >SPOT ·
                <span class="deals-slider-item__time">1 мин. назад</span></span
              >
            </div>
            <div class="deals-slider-item__box">
              <p>Прибыль</p>
              <span class="deals-slider-item__index">58.6206%</span>
              <div class="deals-slider-item__target flex">
                <span class="deals-slider-item__target-title">Цель 4</span>
                <span class="deals-slider-item__target-date"
                  >Дата входа 06.10.2022</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="deals-slider-item">
            <div class="deals-slider-item__currency">
              <h3>NEAR/USDT</h3>
              <span
                >SPOT ·
                <span class="deals-slider-item__time">1 мин. назад</span></span
              >
            </div>
            <div class="deals-slider-item__box">
              <p>Прибыль</p>
              <span class="deals-slider-item__index">58.6206%</span>
              <div class="deals-slider-item__target flex">
                <span class="deals-slider-item__target-title">Цель 4</span>
                <span class="deals-slider-item__target-date"
                  >Дата входа 06.10.2022</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="deals-slider-pagination swiper-pagination"></div>
    </div>
  </div>
</div>
