<div class="faq" id="faq">
  <div class="faq-container container">
    <h2 class="faq-title title">часто задаваемые вопросы</h2>
    <ul class="faq-list list-reset flex">
      <li class="faq-list__item">
        <h3 class="faq-list__item-title">Что такое TradeBlade</h3>
        <p class="faq-list__item-text text">
          Мы опытная команда, для которой трейдинг – профессия. TradeBlade
          является авторизованным официальным брокером биржи Binance.
          <br />
          <br />
          Он представляет пользователям множество преимуществ, таких как более
          високая скорость синхронизации API и возможность создать учетную
          запись Binance через платформу TradeBlade всего в 1 клик.
        </p>
        <button class="faq-list__item-btn btn-reset">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.5">
              <path
                d="M6 9.5L12 15.5L18 9.5"
                stroke="currentColor"
                stroke-width="1.4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
          </svg>
        </button>
      </li>
      <li class="faq-list__item">
        <h3 class="faq-list__item-title">
          Что TradeBlade предлагает инвесторам
        </h3>
        <p class="faq-list__item-text text">
          Мы опытная команда, для которой трейдинг – профессия. TradeBlade
          является авторизованным официальным брокером биржи Binance. Он
          представляет пользователям множество преимуществ, таких как более
          високая скорость синхронизации API и возможность создать учетную
          запись Binance через платформу TradeBlade всего в 1 клик.
        </p>
        <button class="faq-list__item-btn btn-reset">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.5">
              <path
                d="M6 9.5L12 15.5L18 9.5"
                stroke="currentColor"
                stroke-width="1.4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
          </svg>
        </button>
      </li>
      <li class="faq-list__item">
        <h3 class="faq-list__item-title">
          Должен ли я перевести свои средства на TradeBlade
        </h3>
        <p class="faq-list__item-text text">
          Мы опытная команда, для которой трейдинг – профессия. TradeBlade
          является авторизованным официальным брокером биржи Binance. Он
          представляет пользователям множество преимуществ, таких как более
          високая скорость синхронизации API и возможность создать учетную
          запись Binance через платформу TradeBlade всего в 1 клик.
        </p>
        <button class="faq-list__item-btn btn-reset">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.5">
              <path
                d="M6 9.5L12 15.5L18 9.5"
                stroke="currentColor"
                stroke-width="1.4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</div>
