<footer class="footer">
  <div class="footer-container container">
    <div class="footer-info">
      <h3 class="footer-title">Быстрая навигация</h3>
      <nav class="footer-nav">
        <ul class="footer-nav__list list-reset flex">
          <li class="footer__nav__item">
            <a class="footer-nav__link" href="#numbers">Цифры</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#deals">Сделки онлайн</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#about">о компании</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">как начать</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#rates">тарифы</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#">отзывы</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#faq">faq</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-box">
      <a href="#"
        ><img src="/img/logo.png" class="footer-logo" alt="company logo"
      /></a>
      <p class="footer-rights">© 2022 TradeBlade. All rights reserved</p>
    </div>
  </div>
</footer>
