<header class="header">
  <div class="header-container container flex">
    <a href="#" class="header-logo"
      ><img src="img/logo.png" alt="company logo"
    /></a>
    <div class="header-wrapper flex" data-menu>
      <nav class="header-nav">
        <ul class="header-nav__list list-reset flex">
          <li class="header__nav__item" data-menu-item>
            <a class="header-nav__link" href="#numbers">Цифры</a>
          </li>
          <li class="header-nav__item" data-menu-item>
            <a class="header-nav__link" href="#deals">Сделки онлайн</a>
          </li>
          <li class="header-nav__item" data-menu-item>
            <a class="header-nav__link" href="#about">о компании</a>
          </li>
          <li class="header-nav__item" data-menu-item>
            <a class="header-nav__link" href="#begin">как начать</a>
          </li>
          <li class="header-nav__item" data-menu-item>
            <a class="header-nav__link" href="#rates">тарифы</a>
          </li>
          <li class="header-nav__item" data-menu-item>
            <a class="header-nav__link" href="#reviews">отзывы</a>
          </li>
          <li class="header-nav__item" data-menu-item>
            <a class="header-nav__link" href="#faq">faq</a>
          </li>
        </ul>
      </nav>
      <div class="header-user flex">
        <button class="btn-reset header-user-enter">вход</button>
        <button class="btn-reset header-user-registration">регистрация</button>
      </div>
    </div>
    <button
      class="burger"
      aria-label="Відкрити меню"
      aria-expanded="false"
      data-burger=""
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
