<div class="hero">
  <div class="hero-container container">
    <h1 class="hero-title title">моментально копируй сделки профи трейдеров</h1>
    <p class="hero-text text">
      Начни копировать сделки с успешной командой профессиональных трейдеров в
      автоматическом режиме.
    </p>
    <form class="hero-contact">
      <input
        class="hero-contact__input input-reset"
        type="email"
        placeholder="Ваш e–mail"
      />
      <button class="hero-contact__btn btn-reset">начать</button>
    </form>
    <span class="hero-bonus">5 дней бесплатного пользования</span>
    <img
      class="hero-bg"
      src="/img/hero-bg.png"
      alt=""
      data-aos="fade-left"
      data-aos-duration="1500"
    />
  </div>
</div>
