<div class="numbers" id="numbers">
  <div class="decoration"></div>
  <div class="numbers-container container">
    <div class="numbers-title">
      <h2 class="title">Цифры</h2>
      <span class="text">Cентябрь 2022</span>
    </div>
    <div class="numbers-wrapper">
      <div class="numbers-wrapper-item flex">
        <span class="numbers-wrapper-item__title text">Торговой прибыли</span>
        <div class="numbers-wrapper-item__box">
          <span class="numbers-wrapper-item__indicators" data-val="2756"
            >0</span
          >
          <span class="numbers-wrapper-item__indicators-percent">%</span>
        </div>
      </div>
      <div class="numbers-wrapper-item flex">
        <span class="numbers-wrapper-item__title text"
          >фьючерсных и спотовых сделок</span
        >
        <span class="numbers-wrapper-item__indicators" data-val="67">0</span>
      </div>
      <div class="numbers-wrapper-item flex">
        <span class="numbers-wrapper-item__title text"
          >прибыль подписчиков</span
        >
        <span class="numbers-wrapper-item__indicators" data-val="375000"
          >0</span
        >
      </div>
    </div>
  </div>
</div>
