<div class="reviews" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title title">отзывы учасников комьюнити</h2>
    <div class="reviews-wrapper">
      <div class="reviews-wrapper__item" data-aos="zoom-out-down">
        <img
          class="reviews-wrapper__item-img"
          src="img/reviews-avatar-1.png"
          width="81"
          height="105"
        />
        <div class="reviews-wrapper__item-box">
          <span class="reviews-wrapper__item-name">@ArtemGuriev</span>
          <span class="reviews-wrapper__item-profit"
            >Общая прибыль 3043.27 USD</span
          >
          <p class="reviews-wrapper__item-text text">
            Я запустил спот-бота 5 января. За 25 дней я заработал более 3 тысяч
            на споте без единого убытка и без страха ликвидации. Большое спасибо
            TradeBlade за создание такого замечательного бота.
          </p>
        </div>
      </div>
      <div class="reviews-wrapper__item" data-aos="zoom-out-down">
        <img
          class="reviews-wrapper__item-img"
          src="img/reviews-avatar-2.png"
          width="81"
          height="105"
        />
        <div class="reviews-wrapper__item-box">
          <span class="reviews-wrapper__item-name">@XPonse</span>
          <span class="reviews-wrapper__item-profit"
            >Общую прибыль не афиширует</span
          >
          <p class="reviews-wrapper__item-text text">
            Мой капитал 2к. Если я получаю 10 долларов в день, то за месяц я
            зарабатываю 300 долларов. То есть 15% в месяц, что мне более чем
            достаточно.
          </p>
        </div>
      </div>
      <div class="reviews-wrapper__item" data-aos="zoom-out-right">
        <img
          class="reviews-wrapper__item-img"
          src="img/reviews-avatar-3.png"
          width="81"
          height="105"
        />
        <div class="reviews-wrapper__item-box">
          <span class="reviews-wrapper__item-name">@gWagon</span>
          <span class="reviews-wrapper__item-profit"
            >Общую прибыль не афиширует</span
          >
          <p class="reviews-wrapper__item-text text">
            Попробовал. Понравилось. Рекомендую ли я? Да. Но адектватно понимаю,
            что чем больше людей тем может быть меньше прибыли...
          </p>
        </div>
      </div>
      <div class="reviews-wrapper__item" data-aos="zoom-out-left">
        <img
          class="reviews-wrapper__item-img"
          src="img/reviews-avatar-4.png"
          width="81"
          height="105"
        />
        <div class="reviews-wrapper__item-box">
          <span class="reviews-wrapper__item-name">@sanyaMnS</span>
          <span class="reviews-wrapper__item-profit"
            >Общая прибыль 4 405.96 USD</span
          >
          <p class="reviews-wrapper__item-text text">
            Сначала немного расстроился ибо заработал 4$ с одной крупной сделки.
            Но зато понял что все равно в плюсе. На следующей сделке все
            полетело вверх.
          </p>
        </div>
      </div>
    </div>
    <button class="reviews-btn btn-reset" data-aos="zoom-in">
      Загрузить больше отзывов
    </button>
  </div>
</div>
